<IfModule mod_rewrite.c>
DirectoryIndex index.php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|amfphp/)
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
##
#RewriteRule ^resources/public/uploadify-v2.1.4/.*$ - [PT]
#RewriteRule ^resources/public/images_uploads/.*$ - [PT]
</IfModule>